@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
    /*background-color: #FFE5B4;*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /*background: url(assets/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;*/
}


.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}

    
.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 25px;

}



ul.navbar-nav{
    padding-left: 1rem;
}

li.nav-items{
    padding-left: 2rem;
}

.w-100 {
    width: 100%!important;
    height: 83.5vh;
}

.carousel-caption h5{
      font-size: 5rem;
      font-weight: 800;
      letter-spacing: 1rem;
      padding-bottom: 5rem;
      color: rgb(229, 229, 238);
      font-weight: 800;
      font-family: Roboto;
}

.carousel-caption p{
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 0.25rem;
      padding-bottom: 5rem;
      font-family: Montserrat;
      font-style: normal;
     
    }

  .box {
    height: auto;
    width: 50%;
    background-color: rgba(83, 49, 49, 0.5);
    margin-bottom: 4rem;
    padding: 1rem 1rem;
    color: rgb(142, 180, 169);
    
  }

  .box h2{
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.25rem;  
    padding-bottom: 1rem;
      font-family: Montserrat;
      font-style: normal;
  }

  .box p{
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: justify;
  }

  /*--- button ----*/
  
  .shape {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: scale(0.8);
  }
  .cir {
    position: absolute;
    border-radius: 50%;
    z-index: 5;
  }
  
  .btn-contain {
    width: 200px;
    height: auto;
    position: absolute;
    margin-left: 15rem;
    padding-bottom: 2rem;
    transform: translate(-50%, -50%);
  }
  
  .btn {
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: #333;
    text-align: center;
    z-index: 10;
    transition: 0.2s;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 1px 5px 2px #BFCEEF;
  }
  .btn:active, .btn:hover, .btn:focus {
    outline: none !important;
    color: white;
  } 
  .btn-particles {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    color: #eee;
    font-family: monospace;
    z-index: 5;
  /* 	filter: url(#gooeyness); */
  }
  .btn:active {
    transform: scale(0.9) translate(-55%, -55%);
  }


  @media (max-width: 600px){
    .carousel-caption h5{
      font-size: 4rem;
      letter-spacing: 1rem;
      padding-bottom: 8rem;
      
}

.carousel-caption p{
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 0.25rem;
      padding-bottom: 8rem;
      
     
    }
  }

